.products_list_container {
  padding: 10px;
  flex-wrap: wrap;
  padding-left: 30px;
  gap: 20px;
}

.products_list_header {
  justify-content: space-between;
  margin-bottom: 20px;
}

.products_list_header h2 {
  font-size: 32px;
  font-weight: 700;
}

.products_list_sort {
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 0 10px;
  cursor: pointer;
}

.products_list_sort option {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.products_list_sort option:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.products_cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
