.product_card {
  width: 275px;
  height: 350px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  overflow: hidden;
}

.product_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.product_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_info {
  padding: 10px 20px;

  gap: 10px;
}

.product_price {
  font-size: 18px;
  font-weight: 700;
}

.product_title {
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.product_card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;
  transition: all 0.3s ease-in-out;
}

.product_card:active {
  transform: translateY(0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_info_footer {
  justify-content: space-between;
  margin-top: 10px;
}

.product_rating {
  height: 30px;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #f39c12;
  color: white;
  align-items: center;
  gap: 5px;
}

.product_rating img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.product_review_count {
  font-size: 14px;
  margin-left: 10px;
  color: #777;
  padding: 0 10px;
  border-left: 2px solid #ddd;
}

.add_to_cart {
  height: 60px;
  width: fit-content;
  padding: 8px 16px;
  color: white;
  border: none;
  background: transparent;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add_to_cart:hover {
  background-color: grey;
}

.add_to_cart:active {
  background-color: grey;
  transform: translateY(2px);
  transition: all 0.1s ease-in-out;
}

.add_to_cart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
