.hero_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 50px;
  background-color: #000;
  color: white;
}

.hero_section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.hero_title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero_subtitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
  width: 70%;
}

.hero_link {
  padding: 16px 32px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  border-radius: 32px;
  border: 2px solid white;
  background-color: white;
  color: #000;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}

.hero_link:hover {
  background-color: transparent;
  color: white;
}

.hero_image {
  width: 100%;
  height: auto;
}
.hero_image:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
