.nav_links > a {
  margin: auto;
  text-decoration: none;
  font-weight: 500;
}
.nav_links a:hover {
  color: whitesmoke;
  border-radius: 5px;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 4px 8px;
  font-weight: bold;
}
