.navbar {
  padding: 0 20px;
}
.logo {
  align-items: center;
}

.logo-image {
  height: 80px;
  width: 80px;
}
.search-form {
  width: 450px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
  height: 100%;
  justify-content: space-evenly;
}
.search-input {
  flex: 1;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  border: none;

  outline: none;
}

.search-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0px 16px;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  width: 100px;
  font-size: 20px;
  font-weight: 500;
}
.spacer {
  flex: 1;
}

.nav_links_form {
  font-size: 20px;
  gap: 30px;
  justify-content: space-evenly;
}

.cart-count {
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  color: white;
  font-size: 15px;
  margin-left: 5px;
}
