@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 16px;
  background-color: #f5f5f5;
}

.align-center {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: inherit;
}
